<div class="jumbotron">
  <mat-form-field>
    <input
      matInput
      (keyup)="applyfilter($event.target.value)"
      placeholder="Search"
      autocomplete="off"
    />
  </mat-form-field>

  <div class="data-table-comp">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell mat-sort-header *matHeaderCellDef>
          id.
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.id }}
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="creator">
        <mat-header-cell mat-sort-header *matHeaderCellDef>
          creator
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.creator }} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          description
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.description }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="prerequisite">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          prerequisite
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.prerequisite }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="skill">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          skill
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.skill }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastupdated">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          lastupdated
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.lastupdated | date: "medium" }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="deleteRecord">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Actions
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <!-- <mat-icon (click)="deleteRecord(element.id)">delete </mat-icon>

          <mat-icon (click)="populateForm(element)">eco </mat-icon> -->

          <button mat-icon-button (click)="populateForm(element)">
            <mat-icon>launch</mat-icon>
          </button>

          <button
            mat-icon-button
            color="warn"
            (click)="deleteRecord(element.id)"
          >
            <mat-icon>delete_outline</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons>
    </mat-paginator>
  </div>
  <!-- <div id="formContainer">
    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
      <input
        type="hidden"
        name="id"
        [(ngModel)]="courseservice.formData.id"
        class="form-control"
        #id="ngModel"
      />

      <input
        type="hidden"
        name="lastupdated"
        [(ngModel)]="courseservice.formData.lastupdated"
        class="form-control"
        #lastupdated="ngModel"
      />

      <div class="form-group">
        <label>Description</label>
        <input
          name="description"
          [(ngModel)]="courseservice.formData.description"
          class="form-control"
          #description="ngModel"
          required
        />
        <div
          class="validation-error"
          *ngIf="description.invalid && description.touched"
        >
          This field is required
        </div>
      </div>
      <div class="form-group">
        <label>Creator</label>
        <input
          name="creator"
          [(ngModel)]="courseservice.formData.creator"
          class="form-control"
          #creator="ngModel"
        />
      </div>

      <div class="form-group">
        <label>Skill</label>
        <input
          name="skill"
          [(ngModel)]="courseservice.formData.skill"
          class="form-control"
          #skill="ngModel"
          required
        />
        <div class="validation-error" *ngIf="skill.invalid && skill.touched">
          This field is required
        </div>
      </div>

      <div class="form-group">
        <label>Pre-Requisite</label>
        <input
          name="prerequisite"
          [(ngModel)]="courseservice.formData.prerequisite"
          class="form-control"
          #prerequisite="ngModel"
          required
        />
        <div
          class="validation-error"
          *ngIf="prerequisite.invalid && prerequisite.touched"
        >
          This field is required
        </div>
      </div>

      <div>
        <button
          type="submit"
          class="btn btn-lg btn-block"
          [disabled]="form.invalid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div> -->

  <div class="container">
    <form
      id="contact"
      #form="ngForm"
      autocomplete="off"
      (submit)="onSubmit(form)"
    >
      <h3>Course Details</h3>
      <h4>Change one or more fields , no field should be empty</h4>
      <fieldset>
        <input
          name="id"
          [(ngModel)]="courseservice.formData.id"
          #id="ngModel"
          tabindex="1"
          type="email"
          type="hidden"
        />
      </fieldset>
      <fieldset>
        <input
          type="hidden"
          name="lastupdated"
          [(ngModel)]="courseservice.formData.lastupdated"
          #lastupdated="ngModel"
          tabindex="2"
        />
      </fieldset>
      <fieldset>
        <input
          name="description"
          [(ngModel)]="courseservice.formData.description"
          #description="ngModel"
          placeholder="Description"
          required
          tabindex="3"
          type="email"
        />
        <div
          class="validation-error"
          *ngIf="description.invalid && description.touched"
        >
          This field is required
        </div>
      </fieldset>
      <fieldset>
        <input
          name="creator"
          [(ngModel)]="courseservice.formData.creator"
          #creator="ngModel"
          placeholder="Creator"
          tabindex="4"
          type="email"
          required
        />
        <div
          class="validation-error"
          *ngIf="creator.invalid && creator.touched"
        >
          This field is required
        </div>
      </fieldset>
      <fieldset>
        <input
          name="skill"
          [(ngModel)]="courseservice.formData.skill"
          #skill="ngModel"
          required
          placeholder="Skill"
          tabindex="5"
          type="email"
        />
        <div class="validation-error" *ngIf="skill.invalid && skill.touched">
          This field is required
        </div>
      </fieldset>

      <fieldset>
        <input
          name="prerequisite"
          [(ngModel)]="courseservice.formData.prerequisite"
          #prerequisite="ngModel"
          required
          placeholder="Pre-Requisite"
          tabindex="6"
          type="email"
        />
        <div
          class="validation-error"
          *ngIf="prerequisite.invalid && prerequisite.touched"
        >
          This field is required
        </div>
      </fieldset>

      <fieldset>
        <button
          type="submit"
          name="submit"
          id="contact-submit"
          data-submit="...Sending"
          [disabled]="form.invalid"
        >
          Submit
        </button>
      </fieldset>
    </form>
  </div>
</div>
