<div class="jumbotron">
  <div class="row">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h2>Trends</h2>
        </div>
        <div class="flip-card-back">
          <h1>Trends</h1>
          <p>View Trends across Courses and Assigned Trainers.</p>
        </div>
      </div>
    </div>

    <div class="flip-card second">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h2>Courses</h2>
        </div>
        <div class="flip-card-back">
          <h1>Course</h1>
          <p>View various courses added with their respective details.</p>
          <p>You can also view courses assigned to a given trainer.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h2>Trainers</h2>
        </div>
        <div class="flip-card-back">
          <h1>Trainer</h1>
          <p>View various Trainers added with their respective details.</p>
          <p>You can also view courses assigned to a given trainer.</p>
        </div>
      </div>
    </div>

    <div class="flip-card second">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h2>Assignments</h2>
        </div>
        <div class="flip-card-back">
          <h1>Assignment</h1>
          <p>View various assignments added with their respective details.</p>
          <p>
            You can view version history of respective assignments and download
            them.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
