<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first"></div>

    <form [formGroup]="loginForm">
      <div>
        <input
          type="text"
          id="email"
          class="fadeIn second"
          name="email"
          placeholder="email"
          formControlName="email"
        />
        <div
          [class.d-none]="
            loginForm.get('email').valid || loginForm.get('email').untouched
          "
        >
          <small
            *ngIf="loginForm.get('email').errors?.required"
            class="text-danger"
          >
            Email is a required field
          </small>
          <small
            *ngIf="loginForm.get('email').errors?.pattern"
            class="text-danger"
          >
            {{ loginForm.get("email").value }} is not a valid email
          </small>
        </div>
      </div>
      <div>
        <input
          type="password"
          id="password"
          class="fadeIn third"
          name="login"
          placeholder="password"
          formControlName="password"
        />
        <div
          [class.d-none]="
            loginForm.get('password').valid ||
            loginForm.get('password').untouched
          "
        >
          <small
            *ngIf="loginForm.get('password').errors?.required"
            class="text-danger"
          >
            Password is a required field.
          </small>
          <small
            *ngIf="loginForm.get('password').errors?.customValidator"
            class="text-danger"
          >
            Password cannot have word password in it.
          </small>
          <small
            *ngIf="loginForm.get('password').errors?.pattern"
            class="text-danger"
          >
            Follow correct password format
          </small>
        </div>
      </div>

      <input
        type="submit"
        class="fadeIn fourth"
        value="Log In"
        (click)="loginService()"
      />
      <input
        type="button"
        class="fadeIn fourth"
        value="Load-example"
        (click)="loadApi()"
      />
    </form>

    <div id="formFooter">
      <div>
        {{ loginForm.value | json }}
      </div>
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
    <input
      type="button"
      class="fadeIn fourth"
      value="Sign In google"
      (click)="googleLogin()"
    />
    <input
      type="button"
      class="fadeIn fourth"
      value="Sign Out google"
      (click)="googleLogin()"
    />
  </div>
</div>
