<table class="table table-hover">
  <tr>
    <td>Creator</td>
    <td>Descirption</td>
    <td>Pre-requisite</td>
    <td>Skill</td>
    <td>Last Updated</td>
  </tr>
  <tr *ngFor="let course of courseservice.list">
    <td (click)="populateForm(course)">{{ course.creator }}</td>
    <td (click)="populateForm(course)">{{ course.description }}</td>
    <td (click)="populateForm(course)">{{ course.prerequisite }}</td>
    <td (click)="populateForm(course)">{{ course.skill }}</td>
    <td>{{ course.lastupdated }}</td>

    <td>
      <button
        (click)="deleteRecord(course.id)"
        class="btn btn-sm btn-outline-danger"
      >
        X
      </button>
    </td>
  </tr>
</table>
