<mat-toolbar color="primary" mat-elevation-z6>
  <div>
    Au
  </div>
  <div class="navbar">
    <a mat-button *ngIf="googlelogin.loggedIn">
      Welcome {{ googlelogin.currentUserName }}
    </a>
    <a mat-button routerLink="" *ngIf="!googlelogin.loggedIn">Login</a>
    <a mat-button *ngIf="googlelogin.loggedIn" routerLink="trainer">Trainer</a>
    <a mat-button *ngIf="googlelogin.loggedIn" routerLink="course-table"
      >Course</a
    >
    <a mat-button *ngIf="googlelogin.loggedIn" routerLink="Material">Version</a>
    <a mat-button *ngIf="googlelogin.loggedIn" routerLink="Trends">Trends</a>

    <a mat-button *ngIf="googlelogin.loggedIn" (click)="logout()">Logout</a>
  </div>
</mat-toolbar>
