<table class="table table-striped table-bordered table-hover" id="dev-table">
  <thead>
    <tr>
      <th>Assignment</th>
      <th>Files</th>
      <th>FileType</th>
      <th>Created/Updated By</th>

      <th>Last Updated</th>
      <th>Download</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of materialservice.currentList">
      <td>{{ m.description }}</td>
      <td>{{ m.fileName }}</td>
      <td>{{ m.fileType }}</td>
      <td>{{ m.creator }}</td>
      <td>{{ m.lastupdated | date: "medium" }}</td>

      <td (click)="downloadFileVersion(m.fileDownloadUri)">
        <mat-icon>cloud_download</mat-icon>
      </td>
    </tr>
  </tbody>
</table>
