<div class="container">
  <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <button
      class="btn-dialog-close"
      mat-stroked-button
      (click)="onClose()"
      tabIndex="-1"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-toolbar>
  <form
    id="contact"
    autocomplete="off"
    (submit)="submitForm(form1)"
    #form1="ngForm"
  >
    <h3>
      Assignment Material Details
    </h3>

    <h4>Upload the file</h4>
    <fieldset>
      <input
        name="id"
        placeholder="Id"
        [(ngModel)]="materialservice.currentId"
        #id="ngModel"
        hidden
      />
    </fieldset>

    <fieldset>
      <input
        name="description"
        placeholder="Description"
        tabindex="4"
        type="email"
        [(ngModel)]="materialservice.responseForm.description"
        #description="ngModel"
        required
      />
      <div
        class="validation-error"
        *ngIf="description.invalid && description.touched"
      >
        This field is required
      </div>
    </fieldset>
    <fieldset>
      <input
        name="file"
        placeholder="File"
        tabindex="4"
        type="file"
        (change)="onFileSelect($event)"
        required
      />
    </fieldset>
    <fieldset>
      <button
        type="submit"
        name="submit"
        id="contact-submit"
        data-submit="...Sending"
        [disabled]="form1.invalid || materialservice.responseForm.file == null"
      >
        Submit
      </button>
    </fieldset>
    <div class="progress form-group" *ngIf="progress > 0">
      <div
        class="progress-bar progress-bar-striped bg-success"
        role="progressbar"
        [style.width.%]="progress"
      ></div>
    </div>
  </form>
</div>
