<table class="table table-striped table-bordered table-hover">
  <tr>
    <td>Id</td>
    <td>Course</td>
  </tr>

  <tr *ngFor="let course of trainerservice.course">
    <td>{{ course.id }}</td>
    <td>{{ course.description }}</td>
  </tr>
</table>

<div class="container">
  <form
    id="contact"
    autocomplete="off"
    (submit)="assignCourse(id.value)"
    #form1="ngForm"
  >
    <h3>Assignment Course to Trainer</h3>
    <h4>Please Enter a valid course id</h4>

    <fieldset>
      <input
        #id
        name="id"
        placeholder="Course-Id"
        tabindex="4"
        type="text"
        required
        ngModel
      />
    </fieldset>
    <fieldset>
      <button
        type="submit"
        name="submit"
        id="contact-submit"
        data-submit="...Sending"
        [disabled]="form1.invalid"
      >
        Submit
      </button>
    </fieldset>
  </form>
</div>
