<table class="table table-striped table-bordered table-hover">
  <tr>
    <td>Id</td>
    <td>Course</td>
    <td>Unassign</td>
  </tr>

  <tr *ngFor="let course of trainerservice.course">
    <td>{{ course.id }}</td>
    <td>{{ course.description }}</td>
    <td (click)="unAssignCourse(course.id)"><mat-icon>delete</mat-icon></td>
  </tr>
</table>

<div class="container">
  <form
    id="contact"
    autocomplete="off"
    (submit)="assignCourse(id.value)"
    #form1="ngForm"
  >
    <h3>Assignment Course to Trainer</h3>
    <h4>Please Enter a valid course id</h4>

    <fieldset>
      <input
        #id
        name="id"
        placeholder="Course-Id"
        tabindex="4"
        type="text"
        required
        ngModel
      />
    </fieldset>

    <fieldset>
      <button
        type="submit"
        name="submit"
        id="contact-submit"
        data-submit="...Sending"
        [disabled]="form1.invalid"
      >
        Submit
      </button>
    </fieldset>
  </form>
</div>
<!-- 

<form class="example-form" [formGroup]>
  <mat-form-field class="example-full-width">
    <mat-label>Course Name</mat-label>
    <input
      type="text"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

  <mat-form-field class="example-full-width">
    <mat-label>Assign Course</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Number"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
      #courseinput
      required
      ngModel
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form> -->
<!-- <div mat-dialog-actions>
  <button mat-stroked-button mat-button>Cancel</button>
  <button
    mat-stroked-button
    mat-button
    [disabled]="!myControl.valid"
    (click)="recordMe()"
  >
    Assign
  </button>
</div> -->
