<form
  #form="ngForm"
  autocomplete="off"
  (submit)="onSubmit(form)"
  class="example-form"
>
  <input
    type="hidden"
    name="id"
    [(ngModel)]="trainerservice.formData.id"
    class="form-control"
    #id="ngModel"
  />
  <div>
    <mat-form-field class="example-width">
      <mat-label>Name</mat-label>
      <input
        matInput
        name="name"
        [(ngModel)]="trainerservice.formData.name"
        #name="ngModel"
        required
      />
      <mat-error *ngIf="name.invalid && name.touched">
        Above field is required
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field required class="example-width">
      <mat-label>Type</mat-label>
      <mat-select [(value)]="selectedType">
        <mat-option value="Internal">Internal</mat-option>
        <mat-option value="External">External</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-width">
      <mat-label>Age</mat-label>

      <input
        matInput
        name="age"
        [(ngModel)]="trainerservice.formData.age"
        class="form-control"
        #age="ngModel"
        required
        type="number"
      />
      <mat-error *ngIf="name.invalid && name.touched">
        Above field is required
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field required class="example-width">
      <mat-label>Gender</mat-label>
      <mat-select [(value)]="selectedGender">
        <mat-option value="Male">Male</mat-option>
        <mat-option value="Female">Female</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="form.invalid || selectedGender === '' || selectedType === ''"
    >
      Submit
    </button>
  </div>
</form>
<!-- <div class="form-group">
    <label>Gender</label>
    <input
      name="gender"
      [(ngModel)]="trainerservice.formData.gender"
      class="form-control"
      #gender="ngModel"
      required
    />
    <div class="validation-error" *ngIf="gender.invalid && gender.touched">
      This field is required
    </div>
  </div> -->
<!-- <div class="form-group">
    <label>Type</label>
    <input
      name="type"
      [(ngModel)]="trainerservice.formData.type"
      class="form-control"
      #type="ngModel"
    />
  </div> -->
