<button mat-raised-button (click)="postMaterial()">
  <mat-icon>add</mat-icon>Add Assignment
</button>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Assignment</th>
    </tr>
  </thead>
  <tr *ngFor="let material of materialservice.listMaterial">
    <td (click)="getVersion(material.id)">
      {{ material.id }}
    </td>
    <td>{{ material.name }}</td>
  </tr>
</table>

<table class="table table-hover" id="dev-table" *ngIf="flg">
  <thead>
    <tr>
      <th>#</th>
      <th>Last Updated</th>
      <th>Version_History</th>
      <th>Created/Updated By</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of materialservice.currentList">
      <td>{{ m.id }}</td>
      <td>{{ m.lastupdated | date: "medium" }}</td>
      <td>{{ m.name }}</td>
      <td>{{ m.creator }}</td>
    </tr>
  </tbody>
</table>
